.RightSideBarFrame{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: column;
    width: 360px;
    background-color: white;
    border: none;
    border-radius: 20px 20px 20px 20px;
}

.MyInfoTag{
    margin-top: 20px;;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #EAF9F3;
    border: none;
    border-radius: 20px 20px 20px 20px;
    height: 100px;

}

.Avatar{
    width: 3rem; 
    height: 3rem; 
    border-radius: 9999px; 
    margin-right: 10x
}

.MyInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: none;
    border: none;
    margin-left: 10px;
}

.MyName{
    margin-top: -5px;
    color: #315C57;
    font-size: larger;
    font-weight: bold;
    text-align: left;
}

.MyTitle{
    margin-top: -15px;
    color: #7F9998;
    font-size: medium;
    text-align: left;
}

.MiniNotification{
    margin-left: 20px;
    margin-right: 20px;
    height: 400px;
    background-color: #315C57;
    border: none;
    border-radius: 20px 20px 20px 20px;

}

.MiniCalendar{
    margin-bottom: 20px;;
    margin-left: 20px;
    margin-right: 20px;
    height: 400px;
    background-color: #EAF9F3;
    border: 1px solid #315C57;
    border-radius: 20px 20px 20px 20px;
}

.MiniNotification-header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 125%;
    color: #EAF9F3;
}

.MiniNotification-noti {
    position: relative;
    width: 300px;
    height: 80px;
    left: 3%;

    background: #EAF9F3;
    box-shadow: 0px 4px 4px rgba(147, 202, 172, 0.15);
    border-radius: 10px;
}

.MiniNotification-noti img {
    position: relative;
    right: 37.5%;
    top: 27.5%;
}

.noti1 {
    top: 3.5%;
}

.noti2 {
    top: 8.5%;
}

.noti3 {
    top: 13.5%;
}

.MiniNotification-noti-content {
    position: absolute;
    width: 225px;
    height: 45px;
    left: 22.5%;
    bottom: 20%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 125%;

    /* or 15px / */
    display: flex;
    align-items: center;
    text-align: left;

    /* / Dark Green */
    color: #315C57;

}