.PersonalInfoContainer {
    width: 1340px;
    height: 890px;
    background-color: #EAF9F3;
    display: grid;
    justify-items: center;
    padding: 20px;
    grid-template-rows: 26% 30% 40%;
    row-gap: 10px;
}

.Part1 {
    width: 90%;
    display: flex;
    flex-direction: row;
}

.PersonalImage {
    width: fit-content;
}

.Info-1 {
    height: 100%;
    width: 500px;
    margin-left: 10px;
    padding-left: 10px;
}

p {
    margin: 0;
    width: fit-content;
    font-size: 32px;
    line-height: 55px;
}

.RemoveEmployee-Button {
    width: fit-content;
    height: fit-content;
    margin-left: 250px;
    margin-top: 150px;
}

.Part2 {
    width: 90%;
    padding: 10px;
    display: grid;
    justify-items: center;
    grid-template-rows: auto auto auto;
    row-gap: 10px;
}

.Part2 div {
    width: 98%;
    background-color: #fff;
    padding-left: 20px;
    align-items: center;
    display: flex;
    font-size: 32px;
    border-radius: 10px;
}