/* .ManageContainer {
    position: absolute;
    width: 1357px;
    height: 958px;
    border-radius: 30px;
    background-color: #fff;
}

.List {
    position: absolute;
    width: 467px;
    height: 950px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    background-color: #EAF9F3;
    border-radius: 30px;
}

.SearchBar {
    z-index: 1;
    position: absolute;
    height: fit-content;
    width: fit-content;
    top: 96px;
    left: 15px;
}

.DropDownMenu {
    z-index: 2;
    position: absolute;
    top: 25px;
    left: 14px;
    height: 50.5px;
    width: 325px;
} */

.VehiclesStatus {
    position: absolute;
    left: 14px;
    top: 170px;
    width: fit-content;

    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    color: #315C57;

    opacity: 0.8;
}

/* .Line {
    position: absolute;
    top: 150px;
    height: 2px;
    width: 466px;
    opacity: 0.2;
    background-color: #315C57;
    padding: 0;
} */

.VehiclesSrollList {
    position: relative;
    top: 200px;
    left: 9px;
    height: 700px;
    width: 449px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    /* background-color: rebeccapurple; */
}

/* .Addbutton {
    position: absolute;
    height: fit-content;
    width: fit-content;
    left: 290px;
    top: 910px;

} */

.ShowDetail {
    position: absolute;
    left: 490px;
    height: fit-content;
    width: fit-content;
    border-radius: 30px;
    margin-top: 4px;
    margin-bottom: 4px;
}

