.MainFraim{
    display: flew;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ButtonStyle{
    color: white; 
    height: 100px; 
    width: 130px;
    border: none;
    background-color: #315C57; 
    border-radius: 5px 5px 5px 5px
}

.ListFrame{
    width: 320px;
    height: 340px;
    background-color: white;
    overflow: auto;
    overscroll-behavior: smooth;
}

.MCPsBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    width: 320px;
    height: 340px;
    margin-top: 8px;
    margin-bottom: 8px;
    
}

.CheckButton{
    display: flex;
    flex-direction: row;
    align-content: "space-evenly";
}

.CheckBox{
    height: 20px; 
    width: 20px;
}

