.CalendarPage {
    padding-top: 40px;
}

.CalendarPageMini {
    padding-left: 5px;
    padding-right: 5px;
}

.CalendarScheduleFrame {
    padding-left: 1rem;
    padding-right: 1rem; 
    margin-left: auto;
    margin-right: auto;
}

.CalendarScheduleFrameMini {
    margin-left: auto;
    margin-right: auto;
}



.CalendarScheduleGrid {
    display: grid; 
    border-left-width: 1px; 
    border-color: #E5E7EB; 
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
    grid-template-rows: 770px;
}

.CalendarFrame{
    padding-right: 0rem; 
}

.CalendarHeader{
    display: flex; 
    align-items: center; 
}


.CalendarHeaderTitle{
    color: #315C57; 
    font-weight: 600; 
    flex: 1 1 auto; 
}

.CalendarHeaderTitleMini{
    color: #315C57; 
    font-weight: 400; 
    flex: 1 1 auto; 
}

.CalendarHeaderPreviousButton{
    padding: 0.375rem; 
    margin-top: -0.375rem;
    margin-bottom: -0.375rem; 
    color: #9CA3AF; 
    flex: none; 
    justify-content: center; 
    align-items: center;
    background-color: transparent;
    border: none;
}

.CalendarHeaderPreviousButton:hover {
    color: #6B7280; 
}

.CalendarHeaderNextButton{
    padding: 0.375rem; 
    margin-left: 0.5rem; 
    margin-top: -0.375rem;
    margin-bottom: -0.375rem; 
    margin-right: -0.375rem; 
    color: #9CA3AF; 
    flex: none; 
    justify-content: center; 
    align-items: center; 
    background-color: transparent;
    border: none;
}

.CalendarHeaderNextButton:hover {
    color: #6B7280; 
}

.ButtonIcon{
    width: 1.25rem; 
    height: 1.25rem; 
}

.ButtonIconMini{
    width: 1rem; 
    height: 1rem; 
}

.CalendarDay{
    display: grid; 
    margin-top: 0rem;
    color: #6B7280; 
    font-size: 1rem;
    line-height: 1.5rem; 
    text-align: center; 
    grid-template-columns: repeat(7, minmax(0, 1fr)); 
}

.CalendarDayMini{
    display: grid; 
    margin-bottom: 1rem;
    color: #6B7280; 
    font-size: 0.85rem;
    line-height: 0.75rem; 
    text-align: center; 
    grid-template-columns: repeat(7, minmax(0, 1fr)); 
}

.CalendarDayProperties{
    margin-left: -2rem;
}

.Calendar{
    display: grid; 
    margin-top: 0.5rem; 
    font-size: 2rem;
    color: #315C57;
    line-height: 1.5rem;
    text-align: center; 
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.CalendarMini{
    display: grid; 
    margin-top: 0rem; 
    font-size: 0.5rem;
    color: #315C57;
    line-height: 0.5rem;
    text-align: center; 
    grid-template-columns: repeat(7, minmax(0, 1fr));
    height: 120px;
}


.ColStart1{
    grid-column-start: 1; 
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;  
}

.ColStart1Mini{
    grid-column-start: 1; 
    padding-top: 0rem;
    padding-bottom: 0rem;  
}

.ColStart2{
    grid-column-start: 2; 
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; 
}

.ColStart2Mini{
    grid-column-start: 2; 
    padding-top: 0rem;
    padding-bottom: 0rem;  
}

.ColStart3{
    grid-column-start: 3; 
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;  
}

.ColStart3Mini{
    grid-column-start: 3; 
    padding-top: 0rem;
    padding-bottom: 0rem;  
}

.Colstart4{
    grid-column-start: 4; 
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;  
}

.ColStart4Mini{
    grid-column-start: 4; 
    padding-top: 0rem;
    padding-bottom: 0rem;  
}

.ColStart5{
    grid-column-start: 5; 
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; 
}

.ColStart5Mini{
    grid-column-start: 5; 
    padding-top: 0rem;
    padding-bottom: 0rem;  
}

.ColStart6{
    grid-column-start: 6; 
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; 
}

.ColStart6Mini{
    grid-column-start: 6; 
    padding-top: 0rem;
    padding-bottom: 0rem;  
}

.ColStart7{
    grid-column-start: 7; 
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; 
}

.ColStart7Mini{
    grid-column-start: 7; 
    padding-top: 0rem;
    padding-bottom: 0rem;  
}

.Col{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; 
}

.ColMini{
    padding-top: 0rem;
    padding-bottom: 0rem; 
}

.DayFormat{
    font-size: 1rem;
}

.ChosenNotToday{
    color: #ffffff; 
    background-color: #315C57;
    border: none; 
    font-weight: 600; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 4rem; 
    height: 4rem; 
    border-radius: 9999px; 
}

.ChosenToday{
    color: #ffffff;
    background-color: #EF4444;
    border: none;
    font-weight: 600; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 4rem; 
    height: 4rem; 
    border-radius: 9999px; 
}

.NotChosenNotToday{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 4rem; 
    height: 4rem; 
    background-color: transparent;
    border: none;
    border-radius: 9999px; 
}

.NotChosenToday{
    color: #EF4444; 
    font-weight: 600; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 4rem; 
    height: 4rem; 
    background-color: transparent;
    border: none;
    border-radius: 9999px; 
}

.ChosenNotTodayMini{
    color: #ffffff; 
    background-color: #315C57;
    border: none; 
    font-weight: 200; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 2.5rem; 
    height: 2.5rem; 
    border-radius: 9999px; 
}

.ChosenTodayMini{
    color: #ffffff;
    background-color: #EF4444;
    border: none;
    font-weight: 200; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 2.5rem; 
    height: 2.5rem; 
    border-radius: 9999px; 
}

.NotChosenNotTodayMini{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 2.5rem; 
    height: 2.5rem; 
    background-color: transparent;
    border: none;
    border-radius: 9999px; 
}

.NotChosenTodayMini{
    color: #EF4444; 
    font-weight: 200; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 2.5rem; 
    height: 2.5rem; 
    background-color: transparent;
    border: none;
    border-radius: 9999px;
}

.MeetingIndicatorField{
    margin-left: 1.625rem;
    margin-top: 0.5rem; 
    width: 0.25rem; 
    height: 0.25rem; 
}

.MeetingIndicator{
    width: 0.5rem; 
    height: 0.25rem; 
    border-radius: 9999px; 
    background-color: #ffa527
}

.MeetingIndicatorFieldMini{
    margin-left: 1.2rem;
    margin-top: 0.25rem;
    margin-bottom: 0.75rem; 
    width: 0.25rem; 
    height: 0.25rem; 
}

.MeetingIndicatorMini{
    width: 0.25rem; 
    height: 0.25rem; 
    border-radius: 9999px; 
    background-color: #ffa527
}

.ScheduleFrame{
    margin-top: 0; 
    overflow: auto;
    scroll-behavior: smooth;
    padding-right: 10px;
}

.ScheduleHeaderField{
    display: flex;
    align-items: center; 
}

.ScheduleHeader{
    flex: 1 1 auto;
    color: #315C57; 
    font-weight: 600; 
}

.AddTaskButton{
    margin-top: -0.375rem;
    margin-bottom: -0.375rem; 
    color: #9CA3AF; 
    flex: none; 
    background-color: transparent;
    border: none;
}

.AddTaskButton:hover {
    color: #6B7280; 
}

.TaskList{
    margin-top: 1rem; 
    margin-top: 0.25rem; 
    color: #6B7280; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    line-height: 1.5rem; 
}

.Task{
    display: flex; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    margin-left: 1rem; 
    align-items: center; 
    border-radius: 0.75rem; 
}

.Task:hover .Menu {
    opacity: 1;
 }

.Task:focus-within {
    background-color: #F3F4F6; 
 }

.Task:hover{
    background-color: #F3F4F6;
}

.EmployeeAvatar{
    flex: none; 
    width: 5rem; 
    height: 5rem; 
    border-radius: 9999px; 
}

.TaskTag{
    flex: 1 1 auto;
    text-align: left;
    padding-left: 2rem;
}

.EmployeeInfoField{
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: transparent;
    border: none;
}

.EmployeeName{
    font-size: 10pt;
    font-weight: bold;
    color: #315C57; 
}

.TaskInformation{
    margin-top: 0.125rem;
}

.Menu{
    position: relative; opacity: 0; 
}

.Menu:focus-within {
    opacity: 1;
 }

.TransitionEnter{
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform; 
    transition-duration: 100ms; 
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1); 
}

.TransitionEnterFrom{
    --transform-scale-x: .95; 
    --transform-scale-y: .95; 
    opacity: 0; 
}

.TransitionEnterTo{
    --transform-scale-x: 1; 
    --transform-scale-y: 1; 
    opacity: 1; 
}

.TransitionLeave{
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform; 
    transition-duration: 75ms; 
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1); 
}

.TransitionLeaveFrom{
    --transform-scale-x: 1; 
    --transform-scale-y: 1; 
    opacity: 1; 
}

.TransitionLeaveTo{
    --transform-scale-x: .95;
    --transform-scale-y: .95; 
    opacity: 0;
        
}

.MenuBox{
    padding-top: 0.25rem; 
    padding-bottom: 0.25rem; 
}

.MenuItem{
    display: block; 
    color: #374151; 
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem; 
    padding-left: 1rem; 
    padding-right: 1rem;
    background-color: transparent;
    border: none;
    text-decoration: none;
    width: 9rem;
    margin: auto;
}

.MenuItemActive{
    display: block; 
    background-color: #F3F4F6; 
    color: #111827; 
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem; 
    padding-left: 1rem; 
    padding-right: 1rem; 
    border: none;
    text-decoration: none;
    width: 9rem;
    margin: auto; 
}

.MenuButton{
    display: flex; 
    padding: 0.375rem; 
    margin: -0.5rem; 
    color: #6B7280; 
    align-items: center; 
    background-color: transparent;
    border: none;
    border-radius: 9999px; 
}

.MenuButton:hover{
    color: #4B5563; 
}

.MenuField{
    position: absolute; 
    right: 0; 
    z-index: 10; 
    margin-top: 0.5rem; 
    background-color: #ffffff; 
    transform-origin: top right; 
    width: 9rem; 
    border-radius: 0.375rem; 
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color); 
    --ring-color: #000000; 
    --ring-opacity: 0.05; 
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}
