.MapContainerTask{
    height: 700px;
    width: 1000px;
    border-radius: 20px;
}

.MapContainerDashboard{
    height: 200px;
    width: 600px;
    border-radius: 20px;
}

.MapContainerVehicle{
    height: 450px;
    width: 840px;
    border-radius: 20px;
}