.layout {
  display: flex;
  flex-direction: row;
}

.outlet {
    width: 1412px;
    height: 982px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}