.CardContainer {
    background-color: #fff;
    overflow: hidden;
    width: 270px;
    height: 190px;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.5s;
    animation: ease-in;
    color: #315C57;
}

.CardContainer:hover {
    transform: scale(1,1);
    box-shadow: 0px 0px 15px 0px;
}



.Photo img{
    justify-self: left;
    overflow: hidden;
    width: 100px; 
    height: 120px;
}

.Photo {
    height: fit-content;
    width: fit-content;
}

.BasicInfo {
    height: fit-content;
    width: fit-content;
}

.BasicInfo p {
    margin: 0;
    width: fit-content;
    line-height: 30px;
    font-size: 20px;
}

.CurrentTaskTitle {
    height: fit-content;
    width: fit-content;
}

.CurrentTaskContent {
    height: fit-content;
    width: fit-content;
}

.CurrentTaskContent p {
    margin: 0;
    width: fit-content;
    line-height: 30px;
    font-size: 20px;
}