.ChatWindow {
    position: relative;
    width: 895px;
    height: 902px;
    left: 22.5%;
    bottom: 25%;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 20px 20px 0px;
}

.ChatFriend {
    position: realtive;
    width: 895px;
    height: 80px;



    color: #EAF9F3;

    background: #315C57;
}

.ChatFriend-username {
    position: relative;
    width: 132px;
    height: 20px;
    left: 12.5%;
    top: 35%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;

    color: #EAF9F3;
}

.ChatFriend-avatar {
    position: relative;
    left: 2.5%;
    bottom: 15%;
    display: flex;
    color: #EAF9F3;
}

.ChatFriend-detail {
    position: relative;
    width: 20px;
    height: 20px;
    bottom: 70%;
    left: 47.5%;
}

.ChatView {
    position: relative;
    width: 895px;
    height: 740px;

    overflow-y: scroll;

    background: #FFFFFF;
    border-radius: 0px;
}

.ChatInput {
    position: relative;
    top: 0.25%;
    width: 895px;
    height: 80px;

    background: #315C57;
    border-radius: 0px 0px 20px 0px;
}

.ChatInput-field {
    position: relative;
    width: 780px;
    height: 47px;
    top: 22.5%;
    left: 5%;
}

.ChatInput-input-field {
    position: relative;
    width: 771px;
    height: 40px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #7B6E94;
    background: #FCFBFF;
    border-radius: 20px;
}

.SendIcon-container {
    position: relative;
    width: 40px;
    height: 40px;

    left: 93.5%;
    bottom: 32.5%;
}

.ChatView {}

.msg1 {
    position: relative;
    width: 288px;
    height: 42px;
    top: 2.5%;
    left: 57.5%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 10px;
    background: #F3F3F3;
    border-radius: 20px;
}


.msg2 {
    position: relative;
    width: 339px;
    height: 122px;
    top: 7.5%;
    left: 7.5%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 10px;

    color: #000000;
    background: #EAF9F3;
    border-radius: 20px;
}

.Avatar1 {
    position: relative;
    right: 46.15%;
    top: 41.5%;
}

.Avatar2 {
    position: relative;
    left: 46.15%;
    top: -4.5%;
}

.ChatTime {
    position: relative;
    width: 149px;
    height: 24px;
    top: 7.5%;
    left: 50%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}